<!-- Hotkeys Help Panel -->
<div id="hotkeysPanel" class="hotkeys-panel">
    <div class="hotkeys-content">
        <h2>Keyboard Shortcuts</h2>
        
        <div class="hotkeys-list">
            <div class="hotkey-item">
                <div class="hotkey-combo">↑</div>
                <div class="hotkey-description">Select previous file</div>
            </div>
            
            <div class="hotkey-item">
                <div class="hotkey-combo">↓</div>
                <div class="hotkey-description">Select next file</div>
            </div>
            
            <div class="hotkey-item">
                <div class="hotkey-combo">T</div>
                <div class="hotkey-description">Toggle theme</div>
            </div>
            
            <div class="hotkey-item">
                <div class="hotkey-combo">S</div>
                <div class="hotkey-description">Toggle sidebar</div>
            </div>
            
            <div class="hotkey-item">
                <div class="hotkey-combo">R</div>
                <div class="hotkey-description">Refresh file list</div>
            </div>
        </div>
        
        <button id="closeHotkeysButton" class="btn btn-secondary">Close</button>
    </div>
</div>
