<div class="sidebar">
    <div class="sidebar-header">
        <h3>File List</h3>
        <button class="toggle-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16">
                <path d="M5.5 3L0.5 8L5.5 13" fill="none" stroke="white" stroke-width="1.5" />
            </svg>
        </button>
    </div>
    
    <!-- Unified file list container -->
    <div class="file-list-section">
        <div id="unifiedFileList" class="file-list">
            <div class="loading">
                <div class="spinner"></div>
                Loading files...
            </div>
        </div>
    </div>
</div>
